// Main color variables
$white: #fff;
$black: #111;
$dark-grey: #555;
$grey: #979797;
$light-grey: #ccc;
$lighter-grey: #eee;

// Site color variables
$background-color: #fcfcfc;
$paper-white: #fafafa;
$resume-blue: #3275b3;
$link-blue: #00f;
