// Main color variables
$white: #fff;
$black: #111;
$darker-grey: #555;
$dark-grey: #777;
$grey: #979797;
$light-grey: #ccc;
$lighter-grey: #eee;

// Site color variables
$timeline-bg: #fcfcfc;
$paper-white: #fafafa;
$header-blue: #008aec;
$site-blue: #0095ff;
$resume-blue: #3275b3;
$link-blue: #00f;
