// Typography
//
// Contains the overall typography of site

$base-font: 'Lato', Arial, sans-serif;
$base-font-size: 14px;
$main-font-color: $black;

html,
body {
  font-family: $base-font;
  font-size: $base-font-size;
  color: $main-font-color;
}

h1 {
  font-size: 1.42859rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}


h2 {
  font-size: 1.71428rem;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 18px;
}
