.timeline-container {
  position: relative;
  padding: 2em 10em;
  background-color: $timeline-bg;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0.3em;
    background: $site-blue;
    content: '';
  }
}

.timeline-block {
  padding: 1em 2em;

  &.minor {
    padding: 1em 4em;

    .year {
      font-size: 1.5rem;
      color: $dark-grey;

      &::before {
        top: 0.5em;
        left: -2.83em;
        width: 0.5em;
        height: 0.5em;
      }
    }

    .subject {
      font-size: 1rem;
    }

    .details {
      margin-top: 0;
    }
  }

  .year {
    position: relative;
    color: $site-blue;

    &::before {
      position: absolute;
      top: 0.5em;
      left: -1.41em;
      z-index: 6;
      width: 0.7em;
      height: 0.7em;
      background: $site-blue;
      border-radius: 50%;
      content: '';
    }
  }

  .details {
    margin-top: 1em;

    .fa {
      margin-right: 0.25em;
    }
  }

  a {
    color: $link-blue;
    text-decoration: underline;
  }
}

@media(max-width: 767px) {
  .timeline-container {
    padding: 2em 5em;
  }
}
